<div class="fixed-list" id="day">

  <input class="day input-large" data-type="day" type="text" placeholder="What day?" />

  <ul class="list list-group"></ul>

</div>

<script id="template-day" type="text/html">
  <li class="list-group-item">
    {{link}}
    <a class="value" href="search-3.html">
      <h4>
        {{=semantic}}
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </a>
    {{:link}}
    <h4>
      {{=semantic}}
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </h4>
    {{/link}}
  </li>
</script>

<script type="text/javascript">
  (function () {
    var template = new t($('#template-day').html());
    var html = '';
    var base = moment();
    var $day = $('#day');
    var i;
    var m;
    for (i = 0; i < 14; i++) {
      m = base.add('day', i);
      html += template.render({
        link: i === 2,
        semantic: m.format('L')
      });
    }
    $day.find('.list').html(html);
    $day.fixedlist();
  }());
</script>
