<div id="results"></div>

<script id="template-results" type="text/html">
  <div class="col-span-12">
    <h3 class="text-center">Join an existing break</h3>
  </div>

  <!-- best match -->
  <h2 class="text-center">
    <small>
      <i class="glyphicon glyphicon-calendar"></i> {{=day}}
      &nbsp;
      <i class="glyphicon glyphicon-time"></i> {{=time}}
    </small>
  </h2>
  <hr/>
  <ul class="coffee-breaks list-unstyled">
    <li>
      <div class="panel search-result clearfix">
        <div class="pull-right">
          <a class="btn invite" data-root="Upcoming" href="home/index.html">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <p>
          <a href="breaks/dunkin-join.html">
            <i class="glyphicon glyphicon-map-marker"></i> Dunkin' Donuts
            &nbsp;
            &nbsp;
            <i class="glyphicon glyphicon-user"></i> 2
          </a>
        </p>
      </div>
    </li>
    <li>
      <div class="panel search-result clearfix">
        <div class="pull-right">
          <a class="btn invite" href="#">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <p>
          <i class="glyphicon glyphicon-map-marker"></i> The Krafted Cup
          &nbsp;
          &nbsp;
          <i class="glyphicon glyphicon-user"></i> 1
        </p>
      </div>
    </li>
  </ul>

  <!-- ok match -->
  <h2 class="text-center">
    <small>
      <i class="glyphicon glyphicon-calendar"></i> {{=nextday}}
      &nbsp;
      <i class="glyphicon glyphicon-time"></i> {{=time}}
    </small>
  </h2>
  <hr/>
  <ul class="coffee-breaks list-unstyled">
    <li>
      <div class="panel search-result clearfix">
        <div class="pull-right">
          <a class="btn invite" href="#">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <p>
          <i class="glyphicon glyphicon-map-marker"></i> Starbucks
          &nbsp;
          &nbsp;
          <i class="glyphicon glyphicon-user"></i> 3
        </p>
      </div>
    </li>
  </ul>
  <hr/>
  <p class="text-center">Nothing look good?</p>
  <a href="#" class="btn btn-block btn-large">Create a new break</a>
  <br/>
</script>

<script type="text/javascript">
(function (data) {
  var $results = $('#results');
  var template = new t($('#template-results').html());
  $results.html(template.render(data));
}(window.Data));
</script>