<div class="fixed-list" id="time">

  <input class="time input-large" data-type="time" type="text" placeholder="What time?" />

  <ul class="list list-group"></ul>

</div>

<script id="template-time" type="text/html">
  <li class="list-group-item">
    {{link}}
    <h4>
      <a class="value" href="search-4.html">
        {{=semantic}}
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </a>
    </h4>
    {{:link}}
    <h4>
      {{=semantic}}
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </h4>
    {{/link}}
  </li>
</script>

<script type="text/javascript">
  (function (data) {
    var template = new t($('#template-time').html());
    var html = '';
    var base = moment(data.day + ' 8:00 am');
    var $time = $('#time');
    var i;
    var m;
    for (i = 0; i < 7; i++) {
      m = base.add('hour', i);
      html += template.render({
        link: i === 2,
        semantic: m.format('h:mm A')
      });
    }
    $time.find('.list').html(html);
    $time.fixedlist();
  }(window.Data));
</script>
