<div class="fixed-list" id="time">

  <input class="time input-large" data-type="time" type="text" placeholder="When?" />

  <ul class="list list-group">
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Babycakes Cafe <small class="pull-right">Raymond Avenue</small></a>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Crafted Kup <small class="pull-right">44 Raymond Ave</small></a>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Dunkin' Donuts <small class="pull-right">3979 Albany Post Rd</small></a>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Starbucks <small class="pull-right">3434 North Rd</small></a>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Tea Talk <small class="pull-right">2600 South Rd</small></a>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Teavana <small class="pull-right">3434 North Rd</small></a>
      </h4>
    </li>
  </ul>

</div>

<script type="text/javascript">
  $('#time').fixedlist();
</script>
