<div class="fixed-list">

  <input class="location input-large" type="text" placeholder="Where?" />

  <p class="placeholder"></p>

  <ul class="list list-group">
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
    <li class="list-group-item">
      <a data-value="starbucks">Poughkeepsie</a>
    </li>
  </ul>

</div>
