<div class="fixed-list" id="location">

  <input autofocus="true" class="location input-large" data-type="location" type="text" placeholder="Where?" />

  <ul class="list list-group">
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Babycakes Cafe</a>
        <small class="pull-right">Raymond Avenue</small>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Crafted Kup</a>
        <small class="pull-right">44 Raymond Ave</small>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Dunkin' Donuts</a>
        <small class="pull-right">3979 Albany Post Rd</small>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Starbucks</a>
        <small class="pull-right">3434 North Rd</small>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Tea Talk</a>
        <small class="pull-right">2600 South Rd</small>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        <a class="value" href="/app/search-2.html">Teavana</a>
        <small class="pull-right">3434 North Rd</small>
      </h4>
    </li>
  </ul>

</div>

<script type="text/javascript">
  $('#location').fixedlist();
</script>
