<div class="fixed-list" id="location">

  <input autofocus="true" class="location input-large" data-type="location" type="text" placeholder="Where?" />

  <ul class="list list-group">
    <li class="list-group-item">
      <h4>
        Babycakes Cafe
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        Crafted Kup
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </li>
    <li class="list-group-item">
      <a class="value" href="/app/search-2.html">
        <h4>
          Dunkin' Donuts <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </h4>
      </a>
    </li>
    <li class="list-group-item">
      <h4>
        Starbucks <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        Tea Talk <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </li>
    <li class="list-group-item">
      <h4>
        Teavana <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </h4>
    </li>
  </ul>

</div>

<script type="text/javascript">
  $('#location').fixedlist();
</script>
