@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body {
  background-color: #FFFDFA;
  color: #23313A;
  padding-top: 54px;
  position: relative;
}

p {
  font-family: Georgia, Serif;
}

.nonav {
  padding-top: 5px;
}
  .nonav .title {
    color: #4C3619;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
  }

body > .container,
.container {
  padding-left:  15px;
  padding-right: 15px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.brewlette .info {
  font-size: 1.25em;
}
  .brewlette .info img {
    margin-bottom: 1em;
  }

.brewlette .invite {
  background-color: #BB5D50;
  border-color: #BB5D50;
  margin-top: 1em;
}
