@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body {
  background-color: #FFFDFA;
  color: #23313A;
  padding-top: 54px;
  position: relative;
}

i.glyphicon {
  vertical-align: middle;
}

p {
  font-family: Georgia, Serif;
}

.brewlette .navbar .back {
  border-right: 1px solid rgba(255,255,255,.5);
  display: none;
  font-size: 1.25em;
  height: 54px;
  padding: 17px 8px 0 15px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
}
  .brewlette .navbar .back .glyphicon {
    color: #FFFDFA;
  }

.loader {
  display: none;
  margin-top: 40%;
  text-align: center;
}

.nonav {
  padding-top: 5px;
}
  .nonav .title,
  .nonav .title a,
  h1, h2 {
    color: #4C3619;
  }
  .nonav .title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
  }

body > .container,
.container {
  padding-left:  15px;
  padding-right: 15px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.brewlette .action {
  margin-top: 1em;
}

.brewlette .placeholder {
  height: 90px;
}
.brewlette .break-header {
  box-shadow: 1px -2px 5px rgba(0,0,0,0.5) inset;
  height: 80px;
  left: 0;
  padding: 20px 0 0 10px;
  position: absolute;
  right: 0;
}
  .brewlette .break-header h3 {
    color: #FFFDFA;
    text-shadow: 0.07em 0.07em #333;
  }

.brewlette .coffee-break {
  color: #4C3619;
}
  .brewlette .coffee-break a {
    color: #BB5D50;
  }
  .brewlette .coffee-break .list-group-flush {
    margin-top: -1px;
  }
  .brewlette .coffee-break .panel-heading {
    color: #FFFDFA;
    margin-bottom: 0;
    height: 80px;
    padding-top: 45px;
    text-shadow: 0.1em 0.1em #333;
  }
    .brewlette .coffee-break .panel-heading .info {
      margin-bottom: 5px;
    }

.brewlette .coffee-breaks a:active,
.brewlette .coffee-breaks a:hover {
  text-decoration: none;
}

.brewlette .info {
}
  .brewlette .info img {
    margin-bottom: 1em;
  }

.brewlette .invite {
  background-color: #BB5D50;
  border-color: #BB5D50;
}
  .brewlette .invite:hover {
    background-color: #d46f60;
  }

.brewlette .navbar {
  background-color: #4C3619;
}
  .brewlette .navbar .navbar-brand {
    color: #FFFDFA;
  }
  .brewlette .navbar a,
  .brewlette .navbar a:hover,
  .brewlette .navbar .nav a,
  .brewlette .navbar .nav a:hover {
    color: #FFFDFA;
  }
    .brewlette .navbar .glyphicon {
      color: #FFFDFA;
      display: block;
      float: left;
      margin-right: .5em;
      margin-top: 3px;
    }

.brewlette .people-list {
  margin-left: 20px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  border-color: #BB5D50;
}

.brewlette .fixed-list {
  margin: 50px -15px 0;
}
  .brewlette .fixed-list input {
    left: 0;
    position: fixed;
    right: 0;
    top: 55px;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 1px 5px #333;
    padding-left: 35px;
    padding-top: 15px;
    z-index: 10;
  }
    .brewlette .fixed-list input::before {
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      left: 10px;
      line-height: 1;
      position: absolute;
      top: 15px;
    }
    .brewlette .fixed-list .location:before {
      content: "\e062";
    }
    .brewlette .fixed-list .time:before {
      content: "\e023";
    }

  .brewlette .fixed-list .list-group-item {
    border-radius: 0;
  }

@media screen and (max-width: 768px) {

  .brewlette .navbar {
    box-shadow: 0 1px 5px #333;
    padding: 10px 0;
  }
    .brewlette .navbar .navbar-brand:hover {
      color: #FFFDFA;
    }
    .brewlette .navbar a,
    .brewlette .navbar a:hover,
    .brewlette .navbar .nav a,
    .brewlette .navbar .nav a:hover {
      color: #4C3619;
    }
    .brewlette .navbar .container {
      padding: 0;
    }
    .brewlette .navbar .glyphicon {
      color: #4C3619;
      margin-top: 0;
    }
    .brewlette .navbar ul {
      background-color: #FFFDFA;
      font-size: 1.25em;
      float: none;
    }
      .brewlette .navbar ul > li {
        border-top: 1px solid #4C3619;
      }

  .brewlette .navbar-toggle {
    background: transparent;
    color: #FFFDFA;
  }
    .brewlette .navbar-toggle .icon-bar {
      background-color: #FFFDFA;
    }

}
