<div class="break-header" style="background-image: url(assets/img/headers/dunkin.jpg);">
  <h3>The best topic</h3>
</div>

<div class="span12">
  <div class="placeholder"></div>
</div>

<div class="span12 event">
</div>

<script id="template-dunkin-join" type="text/html">
  <a class="btn invite btn-block btn-large" data-root="Upcoming" href="home/index.html"><i class="glyphicon glyphicon-plus"></i> Join this break</a>
  <br/>
  <h4><i class="glyphicon glyphicon-map-marker"></i> {{=location}}</h4>
  <h4><i class="glyphicon glyphicon-time"></i> {{=time}} - {{=day}}<h4>
  <h4><i class="glyphicon glyphicon-user"></i> Who else is going?</h4>
  <br/>
  <ul class="media-list people-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img src="http://lorempixel.com/25/25/people/1" />
      </a>
      <div class="media-body">
        Joe Spagnuolo
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#">
        <img src="http://lorempixel.com/25/25/people/2" />
      </a>
      <div class="media-body">
        Dan Miller
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#">
        <img src="http://lorempixel.com/25/25/people/3" />
      </a>
      <div class="media-body">
        Mike Rodecker
      </div>
    </li>
  </ul>
</script>

<script type="text/javascript">
  (function (data) {
    var template = new t($('#template-dunkin-join').html());
    $('.event').html(
      template.render(data)
    );
  }(window.Data));
</script>