<div class="span12">
  <h2><small>Today, April 10th</small></h2>
  <ul class="coffee-breaks list-unstyled">
    <li>
      <a href="/app/breaks/dunkin.html">
        <div class="panel coffee-break">
          <div class="panel-heading" style="background-image:url('/assets/img/headers/dunkin.jpg')">
            <div class="info">
              <div class="pull-right">
                <i class="glyphicon glyphicon-user"></i> 4
              </div>
              <i class="glyphicon glyphicon-map-marker"></i> Dunkin' Donuts
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="glyphicon glyphicon-time"></i> 2:00pm - April 10th
            </li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</div>

<hr/>

<div class="span12">
  <h2><small>Upcoming</small></h2>
  <ul class="coffee-breaks list-unstyled">
    <li>
      <a href="#">
        <div class="panel coffee-break">
          <div class="panel-heading" style="background-image:url('/assets/img/headers/kraftedcup.jpg')">
            <div class="info">
              <div class="pull-right">
                <i class="glyphicon glyphicon-user"></i> 1
              </div>
              <i class="glyphicon glyphicon-map-marker"></i> The Krafted Cup
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="glyphicon glyphicon-time"></i> 11:00am - April 11th
            </li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="panel coffee-break">
          <div class="panel-heading" style="background-image:url('/assets/img/headers/starbucks.jpg')">
            <div class="info">
              <div class="pull-right">
                <i class="glyphicon glyphicon-user"></i> 2
              </div>
              <i class="glyphicon glyphicon-map-marker"></i> Starbucks
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="glyphicon glyphicon-time"></i> 11:00am - April 24th
            </li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</div>

<hr/>

<div class="span12">
  <p class="text-center">That's the last of your sceduled breaks.</p>
  <a href="/app/search.html" class="btn btn-block btn-large invite">
    <i class="glyphicon glyphicon-search"></i> Find another
  </a>
  <br/>
</div>
