<div class="span12">
  <h2><small>April 19th</small></h2>
  <ul class="coffee-breaks list-unstyled">
    <li>
      <a href="/app/breaks/dunkin.html">
        <div class="panel coffee-break">
          <div class="panel-heading" style="background-image:url('/assets/img/headers/dunkin.jpg')">
            <div class="info">
              <div class="pull-right">
                <i class="glyphicon glyphicon-user"></i> 4
              </div>
              The best topic
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="glyphicon glyphicon-ok"></i> You're going
              <br/>
              <i class="glyphicon glyphicon-time"></i> 11:00 AM - April 19th
              <br/>
              <i class="glyphicon glyphicon-map-marker"></i> Dunkin' Donuts
            </li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</div>

<hr/>

<div class="span12 text-center">
  <p>That's the last of last of them...</p>
  <a data-root="Take a Break" href="/app/search.html" class="btn btn-large invite">
    <i class="glyphicon glyphicon-plus"></i>Take a break
  </a>
  <br/>
  <br/>
</div>

<script type="text/javascript">
(function (data) {
  data = {};
}(window.Data));
</script>
